/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
 * ---------------------------------------------------------------------------------------- */

@import "bear_defaults";
@media screen and (min-width: $mummy_bear_max_width + 2 * $leading) {
	#container {
		padding: 0 $leading;
		margin: 0 auto;
		max-width: $daddy_bear_max_width;
		height: 100%;
	}
	header {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: $daddy_bear_max_width;
		border: 0;
		margin: 0;
		height: 100%;
		& > div {
			width: 15em;
			margin-left: $leading;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 1em 0;
		}
	}
	.responsive-header {
		& > div {
			position: static;
			transform: none;
		}
	}
	.responsive-header.scrolled {
		position: fixed;
	}
	#main {
		height: 100%;
		margin-left: 15em + $leading;
		& > div {
			height: 100%;
			min-height: 25em;
			margin-bottom: 0;
			position: relative;
		}
		.pageup,
		.pagedown {
			cursor: pointer;
			opacity: 0;
			transition: opacity .3s ease;
			display: block;
			padding: 0 .5em;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.pageup {
			top: 1em;
		}
		.pagedown {
			bottom: 1em;
		}
		.page:hover {
			.pageup, .pagedown {
				opacity: 1;
			}
		}
	}
	.centered {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	#skills {
		ul {
			width: 33%;
		}
	}
	#projects {
		.centered {
			top: 10%;
			transform: translateX(-50%);
		}
		li {
			margin: 2.5em 0;
		}
		img {
			border: 1px solid #ccc;
			max-height: 0;
			transition: max-height .4s ease;
		}
		h4 {
			margin: .3em 0;
			a {
				transform: translate(-.3em, -35%);
				opacity: 0;
				transition: opacity .3s ease;
			}
		}
		label {
			padding: .1em .5em;
			border: 1px solid #ccc;
			border-radius: .1em;
			transition: border .1s ease;
			cursor: pointer;
		}
		h6,
		p {
			display: none;
			opacity: 0;
		}
		input:checked {
			& ~ img {
				max-height: 20em;
				margin-top: .7em;
			}
			& ~ h6,
			& ~ p {
				display: block;
				opacity: 1;
			}
			& ~ h4 {
				label {
					border: 0;
					cursor: auto;
				}
				a {
					opacity: 1;
					transition: opacity .1s ease;
				}
			}
			& ~ p {
			}
		}
	}
	@media (max-height: 30em) {
		#main {
			.pageup, .pagedown {
				display: none;
			}
		}
	}
	@media (max-height: 27em) {
		#projects {
			img {
				max-height: none;
			}
			label {
				border: 0;
				cursor: auto;
			}
			h6,
			p {
				display: block;
				opacity: 1;
			}
			li {
				margin-bottom: $leading * 2;
			}
			input:checked {
				& ~ img {
					max-height: none
				}
				& ~ p {
					margin-bottom: 0;
				}
			}
		}
	}
}
/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 * ---------------------------------------------------------------------------------------- */

@media screen and (min-width: $daddy_bear_max_width + 2 * $leading) {
	#container {}
	header {}
	#main {
		margin-left: 15em + 3 * $leading;
	}
}
