/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
 * ---------------------------------------------------------------------------------------- */

@import "bear_defaults";
@media screen and (min-width: $mummy_bear_max_width + 2 * $leading) {
    #container {
        padding: 0 $leading;
        margin: 0 auto;
        max-width: $daddy_bear_max_width;
        height: 100%;
    }
    header {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: $daddy_bear_max_width;
        border: 0;
        margin: 0;
        height: 100%;

        & > div {
        	width: 15em;
        	margin-left: $leading;
        	position: absolute;
        	top: 50%;
        	transform: translateY(-50%);
        }
    }
    #main {
        height: 100%;
        margin-left: 15em + $leading;
        & > div {
            min-height: 100%;
            position: relative;
        }
        .pagedown {
        		display: block;
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
            h1 {
            		margin-bottom: 0;
            }
            a {
                font-weight: 300;
                color: #333;
                text-decoration: none;
            }
        }
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}
/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 * ---------------------------------------------------------------------------------------- */

@media screen and (min-width: $daddy_bear_max_width + 2 * $leading) {
    #container {
    }
    header {
    }
    #main {
    	margin-left: 15em + 3 * $leading;
    }
}
